@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', sans-serif;
    background: url('../images/back.gif') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.container {
    
    text-align: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.26);
     /* شفافیت پس زمینه */
    margin: 50px auto;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); /* اعمال افکت بلور */
    -webkit-backdrop-filter: blur(10px); /* برای سازگاری با مرورگرهای WebKit */
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
table, th, td {
    border: 2px solid rgb(255, 255, 255);
    border-collapse: collapse;
  
  }
.links a, .social-icons a, .projects a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.links a:hover, .social-icons a:hover, .projects a:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.social-icons img, .projects img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 20px;
    text-align: center;
}
